.footer {

    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

body{

    background-color: #333;
}

.cores{

    color: white;
}

.botao {

    color: yellow;

}